:root{
	--white:#f3f3f3;
	--red:#C4170C;
	--yellow:#fa0;
	--orange:#ff7f00;
	--black:#111;
	--blue:#0669de;
	--green:#3e831e;
	--gray:#ddd;
	--gray-dark: #999;
	--gray-lith:#e7e7e7; 
	font-family:opensans,helvetica,arial,sans-serif !important;
}


a{text-decoration:none;}
a:hover{text-decoration:none;}

.container{
	max-width: 1360px;
}

.menu_one_top{
	background: var(--white) !important;
	height:44px;
	padding:8px;
}

.menu_top{
	display:flex;
	list-style:none;
}

.menu_top li:first-child{ margin-left: 0px; }
.menu_top li{ margin-left: 8px; }

.menu_top b a{
	text-decoration:none;
}

.globo_com{ color: var(--blue); }
.g1{ color: var(--red); }
.globoesporte{ color: var(--green); }
.gshow{ color: var(--blue); }
.globo_com_videos{ color: var(--blue); }

.main_drop{
	position:relative;
}

.videos_menu{
	position:absolute;
	display:none;
}

.videos_menu a{ font-size: .875em; }

.main_drop:hover{
	display:block;
}

.acount li{
	margin-left:8px;
	list-style: none;
}

.main_drop:hover .videos_menu{
	display:block;
}

.main_drop_email{
	position: relative;
}

.item_email{
	
	display: none;
	
	position: absolute;
}

.item_email a{ 
	width:100%;
	font-size: .875em;
}

.acount li a{
	color: var(--gray-dark);
}

.acount li a:hover{
	color: var(--black);
}

.main_drop_email:hover{
	display: block;
}

.main_drop_email:hover .item_email{
	display: flex;
	flex-direction: column;
	width: 250px;
}

.acount_entrar{
	margin-top: 2px;
	border: 1px solid var(--gray-lith);
	border-radius: 4px;
	height: 22px;
	display: flex;
	align-items: center;
}

.header_menu{
	background: var(--red);
	height: 74px;
	width: 100%;
	display: flex;
	align-items: center;
}

.box_menu a{
	display: none;
}

.box_menu .fa{
	color: var(--white);
	font-size: 28px;
}

.separet{
	height: 25px;
	width: 2px;
	border:dotted var(--white) .2px;
	margin-left:8px
}

.main_logo{
	margin-left: 12px;
}

.header_title{
	text-transform: uppercase;
	font-size: 30px;
	color: var(--white);
	font-weight: 100;
	text-align: center;
}

.buscar[type="text"]{
	color:var(--white) !important;
}

.input_search{
	position: relative;
	background-color:rgba(0,0,0,.15);
	border: none;
	border-radius: 4px;
	color: #fff !important;
	text-align: right;
	box-shadow: none;
	outline: 0;
	width:164px;
	height: 33px;
	padding: 5px 5px 3px 30px;
	text-transform: uppercase;
}

.main_icon_search{
	position: absolute;
	z-index: 3;
}

.fa-search{
	color:#fff;
	left: 6px;
	position: absolute;
	top: 7px;
}

.btn_search{display: none;}

.main_publicidade p{
	text-align: center;
	text-transform: uppercase;
	margin: 30px auto;
	color:#fff;
	background: var(--yellow);
	padding: 4px;
	font-size: 14px;
}

.post_header{
	margin: 10px auto;
	text-align: left;
}

.post_header h1{
	width: 880px;
	font-size: 3.5em;
	margin: 10px auto;
	margin-bottom: 20px;
}

.post_header h2{
	width: 880px;
	font-size: 1.25em;
	margin: 10px auto;
	margin-bottom: 15px;
	padding: 15px;
}

hr{
	width: 55.5em;
	margin: 15px auto;
	left:0px;
	margin-bottom: 4em;
}

.post{
	margin: 15px auto;

}

.post_author_text{
	margin-left: 15px;
}

.post_author_text p{
	margin:0 !important;
	padding:0 !important;
	margin-left: 20px;
}

.post_img{
	display: flex;
	flex-direction: column;
	width: 880px;
	margin:0 auto;
}

.post_img span{
	display: flex;
	flex-direction: column;
	width: 650px;
	margin:15px auto;
}


.post_img img{
	width: 648px;
	height: 364.5px;
	margin: 0 auto;
}

.post_content{
	width:650px;
	margin: 15px auto;
}

.post_content p,
.post_content li{
	width:750px;
	margin: 10px auto;
	font-size: 1.25em;
}

.bg_red{
	color: var(--red);
	text-decoration: underline;
}